#CreateTopic{
    float : right;
}

#NavBar{
    margin: 20px 0px;
}

.TopicElement{
    border: 1px solid black;
    margin-bottom: 15px;
    border-radius: 10px;
}

.TopicElement .TopicTitle {
    padding: 10px;
    border-bottom: 1px solid black;
}

.TopicElement .TopicTitle .TopicStatus{
    margin-right: 5px;
}

.TopicElement .AuthorImage{
    display: block;
    height: 100px;
    width:  100px;
    float: left;
}

.TopicElement .TopicDescription{
    padding: 10px;
}

.TopicElement .TopicDetailLink{
    float: right;
}