<b>Начисления баллов:</b><br />
После регистрации у каждого пользователя по 0 баллов.<br />
<br />
Участвуя в обсуждениях они могут заработать от 1 до 3-ех баллов.<br />
<br />
Во время обсуждения наблюдатели обсуждения могут отдавать голоса участникам.<br />
В конце обсуждения голоса сравниваются и выигрывает тот, у которого больше всего положительных голосов. Победитель получает +3 балла, его соперник за участие в обсуждении +1 балл.<br />
<br />
Если голосов поровну, то каждый участник получает +1 балл.<br />
<br />
<b>Штрафы:</b><br />
Если участник в конце времени обсуждения получил преимущественно только отрицательные голоса, то у него отнимают балл.

